<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico?">
</head>
<body>
    <div id="chat" class="container">
        <h1>Chatbot</h1>
        <form id="user-input-form">
            <textarea id="inputText" placeholder="Type your input here..."></textarea>
            <button id="submitBtn">Submit</button>
        </form>
        <div id="output"></div>
    </div>

    <script src="../static/app.js"></script>
</body>
</html>